@import 'colors.css';

* {
    border: none;
    border-radius: 0;
    font-family: 'Fira Sans', 'Symbols Nerd Font';
    font-size: 13px;
    font-weight: 500;
}

window#waybar,
#workspaces button {
    color: @on_surface;
}

window#waybar,
window#waybar.empty #window {
    background: none;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: alpha(@on_surface, 0.08);
    box-shadow: inset 0 -3px @on_surface;
}

#workspaces button.active {
    background: @primary;
    color: @on_primary;
    border-radius: 12px;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 4px;
    margin-bottom: 4px;
}

#workspaces button.active:hover {
    box-shadow: inherit;
    text-shadow: inherit;
}

#workspaces button.urgent {
    background: @error;
    color: @on_error;
}

.modules-center {
    margin: 0 8px;
}

#workspaces,
#window,
#clock,
#tray,
#custom-notification,
#resource-monitor,
#network,
#wireplumber,
#power-profiles-daemon,
#battery-management,
#custom-power {
    background: @surface;
    padding: 0 12px;
    border-radius: 16px;
}

#workspaces button,
#cpu,
#memory,
#temperature,
#backlight,
#battery {
    padding: 0 4px;
}

#workspaces,
#resource-monitor,
#battery-management {
    padding: 0 8px;
}

#custom-power {
    color: @error;
}

menu,
tooltip {
    background-color: @surface_container_low;
    color: @on_surface;
}

tooltip {
    border-radius: 8px;
}

tooltip label {
    color: @on_surface;
}

menu menuitem:hover {
    background-color: alpha(@on_surface, 0.08);
    color: inherit;
}

menu separator {
    background-color: @outline_variant;
}
